.visit-btn {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  transition: 0.3s;
}

.visit-btn.in {
  color: #22c55e;
  border: 1px solid #22c55e;
}

.visit-btn.out {
  color: #ef4444;
  border: 1px solid #ef4444;
}

.visit-btn:hover {
  transform: scale(1.1);
}

.delete-btn {
  background: #ef4444;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
}
